.save-search-buttons {

  background-color: red; /* Green */
  border: none;
  color: white;
  width: 90%;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: $font-size-medium-large;
  // margin: 4px 2px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 30px;
}
