@import '../herrenberg/theme';

/* main theme colors */
$primary-color: #fecc00;
$secondary-color: darken($primary-color, 20%);
$hilight-color: $primary-color;
$action-color: $primary-color;
$viewpoint-marker-color: $primary-color;
$current-location-color: $primary-color;
$standalone-btn-color: $primary-color;
$link-color: black;
$link-bgcolor: $primary-color;

$desktop-title-color: $primary-color;
$top-bar-color: $primary-color;

.link {
  color: $link-color;
  text-decoration: underline;
}

.link:hover {
  background-color: $link-bgcolor;
}

#lang-select  {
  .lang {
    color: $link-color !important;
    &.selected {
      color: $white !important;
    }
  }

  .lang:hover {
    background-color: $link-bgcolor !important;
  }
}

.main-menu span {
    color: $link-color !important;
    text-decoration: none;
    &:hover {
      background-color: $link-bgcolor !important;
    }
}

.main-menu a {
    color: $link-color !important;
    &:hover {
      background-color: $link-bgcolor !important;
    }
}
