@import '../herrenberg/theme';

/* main theme colors */
$primary-color: #FAB900;
$secondary-color: #FAA500;
$hilight-color: $primary-color;
$action-color: $primary-color;
$viewpoint-marker-color: $primary-color;
$current-location-color: $primary-color;
$standalone-btn-color: $primary-color;
$link-color: $primary-color;
$desktop-title-color: $primary-color;
$top-bar-color: $primary-color;
