@import '../herrenberg/theme';

/* main theme colors */
$primary-color: #b8bbc2;
$secondary-color: darken($primary-color, 20%);
$hilight-color: $primary-color;
$action-color: $primary-color;
$viewpoint-marker-color: $primary-color;
$current-location-color: $primary-color;
$standalone-btn-color: $primary-color;
$link-color: $primary-color;
$desktop-title-color: $primary-color;
$top-bar-color: $primary-color;

.top-bar section .logo {
  width: 500px;
  height: 62px;
}
