@import 'theme';
@import '../../main';

.carpool-offer-btn {
  margin: 10px;
}

.fg_icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  margin-top: 20px;
  margin-bottom: 30px;
}

.carpool-offer {
  white-space: initial;
  h2 {
    margin-left: 0px;
    color: black;
  }
  p {
    color: black;
  }
}

.sidePanelText {
  font-family: $font-family;
  margin: 30px;
  color: black;
}

.sidePanel-btn:hover {
  background-color: #666 !important;
}

.sidePanel-btn {
  background-color: $primary-color !important;
  padding-top: 0.4em;
  padding-right: 0.7em;
  padding-bottom: 0.4em;
  padding-left: 0.7em;
  border-radius: 20px !important;
  color: white;
  border-style: solid;
  border-width: 0px;
}

input[type='radio'] {
  margin-right: 10px;
  width: 20px;
  height: 1.15em;
}

.radio-label,
.phone-label {
  font-family: $font-family;
  font-size: inherit;
  color: inherit;
}

.phone-label {
  margin-bottom: 20px;
}

#phone {
  width: 30%;
  margin-left: 10px;
}

.carpool-checkbox {
  margin-top: 10px;
}

.carpool-checkbox span {
  position: relative;
  top: -8px;
}

.gdpr-checkbox span {
  margin-left: 30px;
  position: relative;
  top: -8px;
}

#phone,
.phone-label {
  display: inline-block;
}
.delivery-takeaway {
  font-size: $font-size-normal;
}
