@import '../herrenberg/theme';

/* main theme colors */
$primary-color: #000000;
$secondary-color: darken($primary-color, 20%);
$hilight-color: $primary-color;
$action-color: $primary-color;
$viewpoint-marker-color: $primary-color;
$current-location-color: $primary-color;

$standalone-btn-color: $primary-color;
$link-color: $primary-color;

/* Component palette */
$desktop-title-color: $primary-color;
$desktop-title-arrow-icon-color: $secondary-color;
$top-bar-color: #fffc00;

/* Colors of origin/destination markers */
$from-color: $primary-color;
$to-color: #fffc00;
$carpool-color: #fffc00;

:root {
  --bw-yellow:#fffc00;
  --bw-white:#fff;
  --bw-grey-5:#f4f3f1;
  --bw-grey-10:#e4e1dc;
  --bw-grey-20:#cbc6bd;
  --bw-grey-30:#afa697;
  --bw-grey-40:#968a79;
  --bw-grey-50:#867a69;
  --bw-grey-60:#736759;
  --bw-grey-70:#5e554a;
  --bw-grey-80:#524942;
  --bw-grey-90:#49413c;
  --bw-grey-95:#2a2623;
  --bw-grey-100:#000;
  --bw-blue-5:#ecfdff;
  --bw-blue-10:#d2f6fc;
  --bw-blue-20:#a7ebfa;
  --bw-blue-30:#6adcf6;
  --bw-blue-40:#27c3e9;
  --bw-blue-50:#08aad5;
  --bw-blue-60:#0c84ae;
  --bw-blue-70:#116a8d;
  --bw-blue-80:#165571;
  --bw-blue-90:#184861;
  --bw-blue-95:#092e43;
  --bw-green-5:#ecfdbf;
  --bw-green-10:#daf7a1;
  --bw-green-20:#ccfb74;
  --bw-green-30:#aff339;
  --bw-green-40:#8fdb14;
  --bw-green-50:#85d60a;
  --bw-green-60:#67ad05;
  --bw-green-70:#4d7f0a;
  --bw-green-80:#375a08;
  --bw-green-90:#355511;
  --bw-green-95:#1a3003;
  --bw-red-5:#ffe6d9;
  --bw-red-10:#ffd9c3;
  --bw-red-20:#ffb793;
  --bw-red-30:#ff8c57;
  --bw-red-40:#fc6436;
  --bw-red-50:#f84416;
  --bw-red-60:#e72b0d;
  --bw-red-70:#bf1c0d;
  --bw-red-80:#920303;
  --bw-red-90:#770c09;
  --bw-red-95:#440808;
  --bw-violet-5:#f6f1ff;
  --bw-violet-10:#eee6ff;
  --bw-violet-20:#dfd0ff;
  --bw-violet-30:#c0aaff;
  --bw-violet-40:#b07aff;
  --bw-violet-50:#9945ff;
  --bw-violet-60:#911fff;
  --bw-violet-70:#8815f4;
  --bw-violet-80:#6e0bcc;
  --bw-violet-90:#5c0ba7;
  --bw-violet-95:#380372;
  --bw-background-primary:var(--bw-white);
  --bw-background-subtle:var(--bw-grey-5);
  --bw-background-muted:var(--bw-grey-10);
  --bw-background-disabled:var(--bw-grey-10);
  --bw-background-accent:var(--bw-yellow);
  --bw-background-emphasis:var(--bw-grey-95);
  --bw-background-info:var(--bw-blue-10);
  --bw-background-success:var(--bw-green-10);
  --bw-background-warning:var(--bw-red-10);
  --bw-background-on-warning:var(--bw-red-20);
  --bw-background-elevated:var(--bw-white);
  --bw-foreground-primary:var(--bw-grey-95);
  --bw-foreground-subtle:var(--bw-grey-80);
  --bw-foreground-disabled:var(--bw-grey-70);
  --bw-foreground-accent:var(--bw-yellow);
  --bw-foreground-on-accent:var(--bw-grey-95);
  --bw-foreground-on-emphasis:var(--bw-white);
  --bw-foreground-info:var(--bw-blue-80);
  --bw-foreground-success:var(--bw-green-80);
  --bw-foreground-warning:var(--bw-red-80);
  --bw-foreground-focus:var(--bw-violet-80);
  --bw-border-primary:var(--bw-grey-80);
  --bw-border-subtle:var(--bw-grey-20);
  --bw-border-disabled:var(--bw-grey-40);
  --bw-border-on-accent:var(--bw-grey-95);
  --bw-border-emphasis:var(--bw-grey-95);
  --bw-border-on-emphasis:var(--bw-white);
  --bw-border-info:var(--bw-blue-80);
  --bw-border-success:var(--bw-green-80);
  --bw-border-warning:var(--bw-red-80);
  --bw-border-focus:var(--bw-violet-80);
  --bw-border-focus-on-emphasis:var(--bw-violet-30);
  --bw-border-width-100:1px;
  --bw-border-width-200:2px;
  --bw-border-width-300:3px;
  --bw-border-radius-100:3px;
  --bw-border-radius-200:6px;
  --bw-border-radius-300:8px;
  --bw-space-0:0;
  --bw-space-50:2px;
  --bw-space-100:4px;
  --bw-space-200:8px;
  --bw-space-300:12px;
  --bw-space-400:16px;
  --bw-space-500:20px;
  --bw-space-600:24px;
  --bw-space-700:32px;
  --bw-space-800:40px;
  --bw-space-900:48px;
  --bw-space-1000:64px;
  --bw-space-1100:80px;
  --bw-space-1200:120px;
  --bw-space-1300:160px;
  --bw-space-1400:200px;
  --bw-shadow-100:0 2px 6px 2px rgba(42,38,35,0.1);
  --bw-shadow-200:0 4px 8px 4px rgba(42,38,35,0.1);
  --bw-shadow-300:0 12px 18px 8px rgba(42,38,35,0.1);
  --bw-font-family-sans:"BaWue Sans";
  --bw-font-family-serif:"BaWue Serif";
  --bw-font-size-100:1.2rem;
  --bw-font-size-200:1.4rem;
  --bw-font-size-250:1.6rem;
  --bw-font-size-300:1.8rem;
  --bw-font-size-400:2rem;
  --bw-font-size-500:2.4rem;
  --bw-font-size-600:2.8rem;
  --bw-font-size-700:3.2rem;
  --bw-font-size-800:4rem;
  --bw-font-size-900:4.8rem;
  --bw-font-size-1000:6.4rem;
  --bw-font-size-1100:8rem;
  --bw-leading-compact:1.2;
  --bw-leading-narrow:1.3;
  --bw-leading-wide:1.5;
  --bw-font-weight-regular:400;
  --bw-font-weight-bold:700;
  --root-color:var(--bw-foreground-primary);
  --root-font-size:62.5%;
  --root-font-weight:var(--bw-font-weight-regular);
  --root-letter-spacing:0;
  --root-line-height:1;
  --root-font-sans:var(--bw-font-family-sans),Arial,sans-serif;
  --root-font-serif:var(--bw-font-family-serif),Georgia,"Times New Roman",Times,serif;
  --body-background:var(--bw-background-primary);
  --body-font-size:var(--bw-font-size-300);
  --body-min-width:320px;
  --slow-transition-duration:0.3s;
  --default-transition-duration:0.2s;
  --fast-transition-duration:0.1s;
  --focus-border-color:var(--bw-foreground-focus);
  --focus-border-color-t-dark:var(--bw-border-focus-on-emphasis);
  --focus-border-width:var(--bw-border-width-200);
  --focus-border-offset:var(--bw-space-50)
}
