
.main-content input[type="text"],
.drawer-container .drawer-content input[type="text"] {
  background-color: var(--bw-background-subtle);
  border: 1px solid var(--bw-background-subtle);
  border-bottom: 2px solid var(--bw-border-primary);
  border-radius: var(--bw-border-radius-100) var(--bw-border-radius-100) 0 0;
  color: var(--bw-foreground-primary);
  font-size: var(--bw-font-size-300);
  // height: 4.8rem;
  line-height: 2rem;
  overflow: hidden;
  // padding: .6rem var(--bw-space-200);
  transition-property: border,box-shadow;
  width: 100%;
  box-shadow: none;
}

.origin-destination-bar div div div,
.front-page div div div {
  .destination-input-icon svg {
      stroke: #000000
  }
}

:root
{
  --margin-horizontal: 15vw;
  --margin-vertikal: 5vw;
  --margin-details-content: 1vw;
  --testrahmen: 1px solid red;
}

.card-text {
  margin: 0;
  width: 100vw;
  font-family: 'BaWue Sans Web', Arial, Helvetica, sans-serif;
  font-size: var(--fluid-font-size-0);
  color: var(--bw-color-foreground-primary);

  img {
    width: 400px;
    height: auto;
    margin: var(--fluid-font-size-1);
  }

  ul {
    text-indent: 0;
    padding-left: 0;
    margin: 0 var(--margin-details-content);
    margin-left: 0;
    line-height: 1.9;
    width: 400px;
  }

  li {
    list-style-type: none;
    padding: calc(0.5 * var(--fluid-font-size-0));
    border-bottom: 1px solid hsla(0, 0%, 50%, 1.0);
  }

  li:last-of-type { border: 0; }
  .list-item-start { font-weight: 700; }
}
// top bar

.top-bar section .logo {
  height: auto;
  margin-left: 50px;
}
.top-bar {
  /* height: 70px; */
  /* min-height: 70px; */
  height: 6vw;
}
