@charset "utf-8";
:root {
     --margin-horizontal: 5vw;
     --margin-vertikal: 5vw;
     --margin-details-content: 1vw;
     --testrahmen: 1px solid red;
     --bw-leading-compact: 120%;
     --bw-font-weight-regular: 400;
     --bw-font-weight-bold: 700;
     --bw-color-foreground-primary: hsla(26, 9.1%, 15.1%, 1.0);
     --bw-color-foreground-primary: #2a2623;
     --bw-color-background-primary: hsla(0, 0%, 100%, 1.0);
     --bw-color-background-primary: #ffffff;
     --bw-color-background-accent: hsla(59, 100%, 50%, 1.0);
     --bw-color-background-accent: #FFFC00;
     --bw-color-background-subtle: hsla(40, 12%, 95.1%, 1.0);
     --bw-color-background-subtle: #F4F3F1;
     --bw-color-background-warning: hsla(22, 100%, 88.2%, 1.0);
     --bw-color-background-warning: #FFD9C3;
     --mfbw-verkehrsblau10: hsla(195.7, 56.1%, 92.0%, 1.00);
     --mfbw-verkehrsblau10: #dff0f6;
     --mfbw-start: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20d%3D%22M5%2C19h7v2H3V3h9v2h-7v14ZM15.2%2C7.1l-1.4%2C1.4%2C2.5%2C2.5h-8.3v2h8.3l-2.5%2C2.5%2C1.4%2C1.4%2C4.9-4.9-4.9-4.9Z%22%20fill%3D%22%232A2623%22%2F%3E%3C%2Fsvg%3E");
     --mfbw-boarding: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20id%3D%22Fuellung%22%20class%3D%22st1%22%20d%3D%22M12%2C2.5c-4.1%2C0-7.5%2C3.4-7.5%2C7.5s2%2C6.1%2C3.6%2C8c.9%2C1.1%2C1.8%2C1.9%2C2.5%2C2.5.2.2.3.3.5.4l1%2C.8%2C1-.8c.1-.1.3-.2.5-.4.6-.5%2C1.5-1.4%2C2.5-2.5%2C1.7-1.9%2C3.6-4.8%2C3.6-8s-3.4-7.5-7.5-7.5ZM12%2C12c-1.1%2C0-2-.9-2-2s.9-2%2C2-2%2C2%2C.9%2C2%2C2-.9%2C2-2%2C2Z%22%20fill%3D%22%232a2623%22%2F%3E%3Cpath%20id%3D%22Kontur%22%20class%3D%22st0%22%20d%3D%22M12%2C2c-4.4%2C0-8%2C3.6-8%2C8s2%2C6.3%2C3.7%2C8.4c.9%2C1.1%2C1.8%2C1.9%2C2.5%2C2.5.3.3.6.5.8.7.1%2C0%2C.9.7.9.7%2C0%2C0%2C.8-.6.9-.7.2-.2.5-.4.8-.7.7-.6%2C1.6-1.5%2C2.5-2.5%2C1.8-2.1%2C3.7-5%2C3.7-8.4S16.4%2C2%2C12%2C2ZM15.5%2C17.7c-.9%2C1-1.8%2C1.9-2.4%2C2.4-.2.1-.3.3-.5.4l-.6.5-.6-.5c-.1-.1-.3-.2-.5-.4-.6-.5-1.5-1.4-2.4-2.4-1.6-1.8-3.5-4.7-3.5-7.7s3.1-7%2C7-7%2C7%2C3.1%2C7%2C7-1.9%2C5.9-3.5%2C7.7Z%22%20fill%3D%22%232a2623%22%2F%3E%3Cpath%20id%3D%22Loch%22%20class%3D%22st0%22%20d%3D%22M12%2C7.5c-1.4%2C0-2.5%2C1.1-2.5%2C2.5s1.1%2C2.5%2C2.5%2C2.5%2C2.5-1.1%2C2.5-2.5-1.1-2.5-2.5-2.5ZM12%2C11.5c-.8%2C0-1.5-.7-1.5-1.5s.7-1.5%2C1.5-1.5%2C1.5.7%2C1.5%2C1.5-.7%2C1.5-1.5%2C1.5Z%22%20fill%3D%22%23ffff00%22%2F%3E%3C%2Fsvg%3E");
     --mfbw-car-solid: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M23.5%2C9.5h-2.4l-3.1-5.5H6l-3.1%2C5.5H.5l-.5%2C2h2v4.5h1v3h3v-3h12v3h3v-3h1v-4.5h2l-.5-2ZM6.6%2C5h10.8l2.6%2C4.5H4l2.6-4.5ZM7.5%2C14H3.5v-2h4v2ZM20.5%2C14h-4v-2h4v2Z%22%20fill%3D%22%232A2623%22%2F%3E%3C%2Fsvg%3E");
     --mfbw-exit: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20width%3D%22100%25%22%20height%3D%22100%25%22%20viewBox%3D%220%200%2024%2024%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20xml%3Aspace%3D%22preserve%22%20xmlns%3Aserif%3D%22http%3A%2F%2Fwww.serif.com%2F%22%20style%3D%22fill-rule%3Aevenodd%3Bclip-rule%3Aevenodd%3Bstroke-linejoin%3Around%3Bstroke-miterlimit%3A2%3B%22%3E%3Cg%20id%3D%22Ebene-1%22%20serif%3Aid%3D%22Ebene%201%22%3E%3Cg%20transform%3D%22matrix(1%2C0%2C0%2C1%2C12%2C12.1586)%22%3E%3Cpath%20d%3D%22M0%2C-0.169C-1.103%2C-0.169%20-2%2C-1.066%20-2%2C-2.169C-2%2C-3.272%20-1.103%2C-4.169%200%2C-4.169C1.103%2C-4.169%202%2C-3.272%202%2C-2.169C2%2C-1.066%201.103%2C-0.169%200%2C-0.169M0%2C-9.669C-4.136%2C-9.669%20-7.5%2C-6.304%20-7.5%2C-2.169C-7.5%2C1.015%20-5.53%2C3.954%20-3.877%2C5.858C-2.946%2C6.931%20-2.028%2C7.785%20-1.425%2C8.311C-1.252%2C8.463%20-1.095%2C8.596%20-0.955%2C8.712L0%2C9.5L0.956%2C8.711C1.094%2C8.597%201.251%2C8.464%201.423%2C8.314C2.033%2C7.78%202.955%2C6.921%203.879%2C5.857C5.53%2C3.953%207.5%2C1.014%207.5%2C-2.169C7.5%2C-6.304%204.136%2C-9.669%200%2C-9.669%22%20style%3D%22fill%3Argb(255%2C255%2C0)%3B%22%2F%3E%3C%2Fg%3E%3Cg%20transform%3D%22matrix(1%2C0%2C0%2C1%2C15.501%2C6.5414)%22%3E%3Cpath%20d%3D%22M0%2C11.158C-0.909%2C12.205%20-1.812%2C13.045%20-2.407%2C13.565C-2.575%2C13.712%20-2.729%2C13.842%20-2.864%2C13.954L-3.501%2C14.479L-4.138%2C13.954C-4.273%2C13.842%20-4.427%2C13.712%20-4.596%2C13.563C-5.191%2C13.045%20-6.093%2C12.204%20-7.001%2C11.158C-8.598%2C9.318%20-10.501%2C6.489%20-10.501%2C3.459C-10.501%2C-0.401%20-7.361%2C-3.541%20-3.501%2C-3.541C0.358%2C-3.541%203.499%2C-0.401%203.499%2C3.459C3.499%2C6.488%201.596%2C9.318%200%2C11.158M-3.501%2C-4.541C-7.919%2C-4.541%20-11.501%2C-0.96%20-11.501%2C3.459C-11.501%2C6.764%20-9.549%2C9.748%20-7.756%2C11.814C-6.844%2C12.866%20-5.934%2C13.723%20-5.252%2C14.318C-4.911%2C14.616%20-4.625%2C14.849%20-4.423%2C15.01C-4.322%2C15.09%20-3.501%2C15.699%20-3.501%2C15.699C-3.501%2C15.699%20-2.68%2C15.09%20-2.579%2C15.01C-2.376%2C14.849%20-2.091%2C14.616%20-1.75%2C14.318C-1.068%2C13.723%20-0.158%2C12.866%200.754%2C11.814C2.547%2C9.748%204.499%2C6.764%204.499%2C3.459C4.499%2C-0.96%200.917%2C-4.541%20-3.501%2C-4.541%22%20style%3D%22fill%3Argb(42%2C38%2C35)%3B%22%2F%3E%3C%2Fg%3E%3Cg%20transform%3D%22matrix(1%2C0%2C0%2C1%2C11.9978%2C8.4999)%22%3E%3Cpath%20d%3D%22M0%2C3C-0.828%2C3%20-1.5%2C2.328%20-1.5%2C1.5C-1.5%2C0.672%20-0.828%2C0%200%2C0C0.828%2C0%201.5%2C0.672%201.5%2C1.5C1.5%2C2.328%200.828%2C3%200%2C3M0%2C-1C-1.379%2C-1%20-2.5%2C0.122%20-2.5%2C1.5C-2.5%2C2.879%20-1.379%2C4%200%2C4C1.378%2C4%202.5%2C2.879%202.5%2C1.5C2.5%2C0.122%201.378%2C-1%200%2C-1%22%20style%3D%22fill%3Argb(42%2C38%2C35)%3B%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E");
     --mfbw-target: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20d%3D%22M14%2C3h7v18h-7v-2h5V5h-5v-2ZM11%2C7.1l4.9%2C4.9-4.9%2C4.9-1.4-1.4%2C2.5-2.5H3v-2h9.1l-2.5-2.5%2C1.4-1.4Z%22%20fill%3D%22%232A2623%22%2F%3E%3C%2Fsvg%3E");
     --bw-arrow-up-right-line: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 5H19V16H17V8.41421L6.25 19.1642L4.83578 17.75L15.5858 7H8V5Z' /%3E%3C/svg%3E");
     --bw-circle-info-line: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4ZM2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12ZM13 10V17H11V12H10V10H13ZM13 9V7H11V9H13Z' /%3E%3C/svg%3E");
}
 * {
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
}
body {
     margin: 0;
     width: 100vw;
     font-family: 'BaWue Sans', Arial, Helvetica, sans-serif;
     font-size: 1rem;
     line-height: var(--bw-leading-compact);
     color: var(--bw-color-foreground-primary);
     font-weight: var(--bw-font-weight-regular);
}
 .suchcontainer {
     margin: var(--margin-horizontal);
}
.itinerary-summary-header.einzelergebnis {
    width: 100%;
    border-top: 1px solid var(--bw-color-background-primary);
    border-right: 1px solid var(--bw-color-background-primary);
    border-left: 1px solid var(--bw-color-background-primary);
    border-bottom: 1px solid var(--bw-color-foreground-primary);
    background-color: var(--bw-color-background-primary);

    &:hover, &:active {
        border-top: 1px solid var(--mfbw-verkehrsblau10);
        border-right: 1px solid var(--bw-color-foreground-primary);
        border-left: 1px solid var(--bw-color-foreground-primary);
        background-color: var(--mfbw-verkehrsblau10);
    }
    .start, .boarding, .times, .exit, .target {
        color: #2a2623;
        position: relative;
        -webkit-user-select: text;
        user-select: text;
        line-height: var(--bw-leading-compact);
    }
    .start, .target {
        padding: 0 1.4em;
        margin: 0.5rem 0 0.25rem 4rem;
    }
    .boarding, .exit {
        padding: 0 1.4em;
        margin: 0.25rem 0 0.25rem 1rem;
    }

    .times {
         padding: 0 1.8em;
         margin: 0 0 0.5rem 4rem;
    }
    .match {
        margin: 0.5rem 0 0.5rem 4rem;
    }

    .start::before, .boarding::before, .times::before, .exit::before, .target::before, .info::before {
        content: "";
        width: 1.1em;
        height: 1.2em;
        position: absolute;
        left: 0;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: 0;
    }
    .start::before {
         top: 0;
         background-image: var(--mfbw-start);
    }
    .boarding::before {
         top: 0;
         background-image: var(--mfbw-boarding);
    }
    .match-value::after {
        font-weight: var(--bw-font-weight-regular);
    }
    .times::before {
        top: 0;
        background-image: var(--mfbw-car-solid);
    }
     .exit::before {
        top: 0;
        background-image: var(--mfbw-exit);
    }
     .target::before {
        top: 0;
        background-image: var(--mfbw-target);
    }
     .info::before {
        top: -0.5em;
        background-image: var(--bw-circle-info-line);
    }
    /* link-external und info */
    .link-external::before {
        content: "";
        width: 1.1em;
        height: 1.2em;
        position: absolute;
        left: 0;
        top: 0;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: 0;
        background-image: var(--bw-arrow-up-right-line);
    }
    .link-external {
        font-weight: var(--bw-font-weight-bold);
        color: #2a2623;
        cursor: pointer;
        display: inline;
        position: relative;
        text-decoration: none;
        -webkit-user-select: text;
        user-select: text;
        line-height: var(--bw-leading-compact);
        -webkit-text-decoration-skip-ink: none;
        text-decoration-skip-ink: none;
        box-shadow: 0 1px #2a2623;
        background-color: initial;
        padding: 0 .2rem 0 1.4em;
    }
    .link-external:hover {
        background-color: var(--bw-color-background-accent);
        box-shadow: 0 2px #2a2623;
    }
    .info {
        cursor: pointer;
        display: inline;
        position: relative;
        text-decoration: none;
        -webkit-user-select: text;
        user-select: text;
        line-height: var(--bw-leading-compact);
        -webkit-text-decoration-skip-ink: none;
        text-decoration-skip-ink: none;
        background-color: initial;
        padding: 0 0 0 1.4em;
    }
    .portal {
     text-align: right;
     margin: 0.5rem 0 0.5rem 0;
    }
}

.itinerary-summary-row .itinerary-summary-header {
  flex-direction: row;
  justify-content: space-between;
}

//?
.summary-list-container {
  line-height: var(--bw-leading-compact);
}
.itinerary-summary-row .summary-clickable-area {
  flex-direction: column;
}

// We hide departure/arrival switch as carpool search currently only uses serviceDate
.content .datetimepicker-container {
  .datetimepicker-top-row {
    display: none;
  }
  .datetimepicker-top-row + div > span:nth-child(1) {
    width: 100%;
  }
  .datetimepicker-top-row + div > span:nth-child(2) {
    display: none;
  }
  .datetimepicker-select__control:focus-within {
    box-shadow: 0 0 0 1px var(--bw-foreground-focus);
  }

  .open-embed-container, .open-advanced-settings {
    display: none;
  }
}
