@import '../../base/waltti';

/* main theme colors */
$primary-color: #1CA438;
$secondary-color: darken($primary-color, 20%);
$hilight-color: $primary-color;
$action-color: $primary-color;
$viewpoint-marker-color: $primary-color;
$current-location-color: $primary-color;
$standalone-btn-color: $primary-color;
$link-color: $primary-color;
$desktop-title-color: $primary-color;
$top-bar-color: $primary-color;

/* Vehicle palette */
$bus-color: red;
$metro-color: #0065B0;
$rail-color: green;
$citybike-color: #009fe4;
$carpool-color: #9fc727;
$bike-color: #005ab4;

.car {
  color: #005ab4;
}

.ticket-container .icon-container {
  padding: 8px 4px;
  display: inline-block;
}
.ticket-container .icon-container .icon{
  height: 50px;
  width: 50px;
}

.logo-title {
  vertical-align: middle;
  color: #fff;
  padding: 30px 10px 0px 20px;
  font-size: 24px;
  font-weight: 400;
}

.top-bar .logo {
  min-width: 50px !important;
}

.top-bar button .navi-logo {
  min-width: 50px;
  width: 200px;
  height: 50px;
}

.top-bar section .logo {
  width: 200px;
  height: 50px;
}

.top-bar .icon {
  color: $white !important;
}

@media screen and (max-width: 400px) {
  .top-bar section .logo {
    height: 50px;
    width: 200px;
  }
}

.charging-station {
  color: #00b096;
}
